/*===Add Button===*/
.button {
    position: relative;
    color: #272932;
    padding: 16px;
    cursor: pointer;
    width: 200px;
    height: 300px;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #272932;
    background-color: #27293293;
    border-radius: 32px;
    margin-left: 16px;
}
/*===Banners===*/
.header {
    background-color: #272932;
    color: #90a8c3;
    font-size: 40px;
    font-weight: bold;
    padding: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer {
    color: #272932;
    background-color: #90a8c3;
    font-size: 14px;
    padding: 24px;
    font-style: oblique;
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
/*===Book card===*/
.card {
    width: 200px;
    height: 300px;
    position: relative;
    align-items: center;
    border: 4px solid #272932;
    border-radius: 32px;
    text-align: center;

    > span {
        background: #272932;
        color: #b6cee9;
        padding: 0.2em 0.6em;
        border: 1px solid;
        position: absolute;
        top: 6px;
        right: 8px;
        cursor: pointer;
        border: none;
        border-radius: 16px;
    }
}

.bk-price {
    color: #272932;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
}
.learn,
a {
    text-decoration: none;
    color: #90a8c3;
    background-color: #272932;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    margin: 4px 8px 0;
    padding: 10px;
}
.cardImg {
    max-width: 200px;
}

.selected {
    background: #27293293;
}
/*====Form Styles====*/

.form-container {
    padding: 0 2em;
    color: #272932;

    > form {
        padding: 2em;

        button {
            margin-left: 10em;
        }
    }
    .form-control {
        label {
            display: inline-block;
            width: 10em;
        }
        margin: 1em 0;
    }
}
.save {
    border-radius: 4px;
    padding: 4px;
}
:modal {
    border: 4px solid #272932;
    border-radius: 16px;
}
